<div class="panel-body">
  <% if request.xhr? %>
    <div class="alert alert-info no-margin-bottom">
      <%= Spree.t(:please_update_before_you_can_add_products) %>
    </div>
  <% else %>
    <div class="form-group products_rule_products">
      <%= hidden_field_tag "#{param_prefix}[product_ids_string]", promotion_rule.product_ids.join(','), class: 'js-product-picker-target' %>

      <%= render partial: 'spree/admin/shared/product_picker/collection', locals: { product_ids: promotion_rule.product_ids } %>
      <%= render partial: 'spree/admin/shared/product_picker/modal' %>

      <%= button_link_to Spree.t(:add_product), 'javascript:;', { class: 'js-product-picker-add btn-success btn-sm', icon: 'add', data: { toggle: 'modal', target: '#productPicker' } } %>
    </div>
    <div class="form-group no-marginb">
      <%= label_tag Spree.t('product_rule.label') %>
      <%= select_tag("#{param_prefix}[preferred_match_policy]", options_for_select(Spree::Promotion::Rules::Product::MATCH_POLICIES.map{|s| [Spree.t("product_rule.match_#{s}"),s] }, promotion_rule.preferred_match_policy), { class: 'form-control'} ) %>
    </div>
  <% end %>
</div>
