<div class="panel panel-default">
  <% if content_for?(:panel_title) %>
    <div class="panel-heading" role="tab" id="<%= @panel_heading %>">
      <h3 class="panel-title">
        <a class="<%= "collapsed" unless @panel_first %>" data-toggle="collapse" data-parent="#accordion" href="#<%= @panel_name %>" aria-expanded="<%= @panel_first %>" aria-controls="<%= @panel_name %>">
          <%= yield :panel_title %>
        </a>
      </h3>
    </div>
  <% end %>
  <div id="<%= @panel_name %>" class="panel-collapse collapse <%= "in" if @panel_first %>" role="tabpanel" aria-labelledby="<%= @panel_heading %>">
    <div class="panel-body">
      <%= yield %>
    </div>
  </div>
</div>
